

/*--------------------------------------------------------------
>>> ÜBERSICHT DER INHALTE
----------------------------------------------------------------
1. Buttons
2. Textfelder
--------------------------------------------------------------*/

.button, .button-primary, .button-secondary {
    padding: 12px 20px;
    border: none;
    outline: none;
    border-radius: 30px;
    margin: 0 auto;
}
.button {
    background: none;
    color: var(--color-secondary);
}
.button-primary {
    background-color: var(--color-secondary);
    color: white;
}

.button-secondary {
    background-color: white;
    color: var(--color-secondary);
}








/*--------------------------------------------------------------
2. Textfelder
--------------------------------------------------------------*/

.input-primary {
    width: 100%;
    padding: 12px 20px;
    background-color: white;
    color: black;
    border: none;
    outline: none;
    border-radius: 30px;
}